@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1E555C;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Righteous', cursive;
}

#root{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main-title{
  font-size: 50px;
  margin-bottom: 20px;
}
#break-session-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.fa-arrow-down, .fa-arrow-up{
  padding: 6px 10px;
}

#timer{
  border: 7px solid #13353a;
  margin: 20px auto 10px auto;
  width: 270px;
  height: 170px;
  border-radius: 50px;
  position: relative;
}
p{
  margin: 0px;
}
.fa-2x{
  font-size: 2em;
}
#timer-wrapper{
  position: absolute;
  width: 190px;
  height: 110px;
  left: 50%;
  top: 50%;
  margin-left: -95px;
  margin-top: -57px;
}
#time-left{
  font-size: 65px;
  font-family: 'Digital';
}
#start_stop, #reset{
background: transparent;
border: none;
}
.fa, .fas{
  color: aliceblue
}